@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin";

.ag-theme-balham {
    @include ag-theme-balham((
    row-height: 45px,
    header-height: 40px,
    font-size: 14px,
    font-family: Roboto
    ));
}